[user]
	email = jesselondon@gmail.com
	name = Jesse London

[alias]
	st = status
	ci = commit
	co = checkout
	d = diff
	out = log origin/master..
	in = log ..origin/master
	compare = !$(dirname $(readlink $HOME/.gitconfig || echo $HOME/.gitconfig))/gitcompare.bash $1

[color]
	ui = true
